<div class="contenedor">
<nav>
  <ul>
    <li> <a routerLink="/"    
      routerLinkActive="menuSelected"
      [routerLinkActiveOptions]="{exact: true}"
      >Volver a Home</a></li> 
      <!-- gracias a la propiedad routerLinkActiveOptions, solo se va a pintar cuando sea exacto el routerLink "/"
        (sin el routerLinkActiveOptions)El home va a seguir pintado porque la ruta sigue coincidiendo cuando lo cambio-->
    
  </ul>

</nav>
  
 
  <thead>
    
  <th>Listado de Eventos</th>
    
  </thead>
   
  <div>
    <tr *ngFor="let evento of eventos" routerLinkActive="menuSelected">
      <a [routerLink]="['/eventos/detalle',evento.id]">
        {{evento.name}}
     </a>
    </tr>
  </div>

  <tr>
    <td><a [routerLink]="['/eventos/detalle', 42]">Evento invalido</a></td>
  </tr>
  
</div>
  <!-- <li> <a routerLink="/eventos/detalle" routerLinkActive="menuSelected"> Detalle </a> </li> -->
<router-outlet></router-outlet>