.menuSelected{ /* El cual uso desde el html, voy a usarlo cuando la ruta esta activa routerLinkActive*/
    color: red;
    background-color: green;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
background-color: khaki;
height: 80vh;
margin: 5%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}