<div class="contenedor">
<h2>Detalle del evento</h2>


<div *ngIf="evento" >
    <h3>{{evento?.name}}</h3>
    <p>Date: {{evento?.date}} </p>      
    <p>Time: {{evento?.time}}</p>
    <p>Location: {{evento.location?.address}}, {{evento.location?.city}}, {{evento.location?.country}}</p>
</div>

<div *ngIf="!evento">
    <p>No existe</p>
</div> 

<br>
<p>Evento revisado: </p>
<input type="checkbox" (change)="eventoRevisado()">Revisado
<br>
<br>

<button (click)="returnToEvents()">Volver a eventos</button>


</div>